.chat {
    list-style: none;
}

.chat-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-message-card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 10px;
    margin: 8px;
    width: 80%;
}

.chat-message-user {
    align-self: flex-end;
    background-color: cadetblue;
}

.chat-message-ai-assistant {
    align-self: flex-start;
    background-color: darkseagreen;
}

footer {
    form {
        width: 100%;
        display: flex;

        input {
            flex: 1;
            padding: 10px;
            margin-right: 8px;
        }

        button {
            padding: 10px;
        }
    }
}