* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    margin: 0;
}

footer {
    width: 100%;
    margin-top: auto;
    padding: 10px;
    display: flex;
}