.chat {
    list-style: none;
}

.chat-message-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;

    .message {
        flex: 1;
    }
}

footer {
    form {
        width: 100%;
        display: flex;

        input {
            flex: 1;
            padding: 10px;
            margin-right: 8px;
        }

        button {
            padding: 10px;
        }
    }
}